       <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="../assets/icons/menu.svg">Hello</md-icon>
        </md-button>
        <h2>
          <span>DUBLINER</span>
        </h2>
        <span flex></span>
        
        <md-button ng-href="{{googleUrl}}" target="_blank">Home</md-button>
           <md-button ng-href="{{googleUrl}}" target="_blank">Solutions</md-button>
           <md-button ng-href="{{googleUrl}}" target="_blank">Contact</md-button>
              <md-button ng-href="{{googleUrl}}" target="_blank">About</md-button>
      </div>
    </md-toolbar>

 